.Best_seller_container {
  margin-top: 30px;
}
.Best_seller_containers {
  max-width: 1400px;
  margin: auto;
}
.sale-2 {
  max-width: 1400px;
  margin: auto;
}

.sale-2-1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: green;
  font-size: 13px;
  margin-top: 20px;
}

.line-1 {
  width: 500px;
  height: 2px;
  background-color: green;
  margin-top: 20px;
}

.menu-3 ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
  font-size: 15px;
}

.menu-3 ul li a {
  text-decoration: none;
  color: #333333;
}
