.Home_Banner_Containers {
    display: flex;
    max-width: 1400px;
    margin: auto;
}

.Home_Containers_Sidebar {
    width: 400px;
    height: 900px;
}

.Home_Container_Navbar {
    width: 1000px;
    margin-top: 60px;
    
}